body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: #e3dfdf;
}

header {
  padding: 10px;
  border: 0;
  margin: 0;
  background-color: #2d2d2d;
  height: 100px;
  position: relative;
}

#user-tag {
  color: #0bc0d8;
  float: right;
  font-size: small;
  margin-right: 10px;
  transition: .2s;
}

#user-tag:hover {
  color: #b9faff;
  cursor: pointer;
}

.symbol {
  font-size:x-small;
  padding: 5px;
}

nav { 
display: flex;
justify-content:space-evenly;
align-items: center;
position: absolute;
height: 30px;
width: 400px;
bottom: 20px;
}

.nav-item{
  text-transform: uppercase;
  color: gray;
  font-size: small;
}

#logo {
  position:absolute;
  right: 20px;
  bottom: 15px;
}

.selected{
  color: white;
}

h1 {
color: #2d2d2d;
font-weight:400;
font-size: xx-large;
margin-left: 20px;
}

section {
  margin-left:20px;
  margin-right: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(auto-fill, 320px);
}

article {
  background-color: white;
  box-shadow: 2px 2px 5px gray;
  height: 300px;
  margin: 10px;
}

.image-box{
  height: 110px;
  background-size: cover;
  color: white;
}

.screen-layer{
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
}

.circle-arrow {
float: left;
}
.circle-arrow svg{
  width: 20px;
  height: 20px;
}

.view-count {
  float:right;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px
}

.view-count h3 {
  padding: 0px;
  margin: 0px;
  font-size: x-large;
  font-weight: 200;
}
.view-count h4 {
    padding: 0px;
  margin: 0px;
  font-size: x-small;
  font-weight: 200;
}